@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

html {
    background-color: #1e1e1e;
    color-scheme: dark;
}

body {
    background-color: #1e1e1e;
    min-height: 100vh;
}